.wrapper {
  position: relative;
  display: inline-block;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #c8c8c8;
}

.wrapper label:before {
  margin: 3px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper input:checked ~ label:before {
  color: #59d8d1;
}

.wrapper label:hover ~ label:before {
  color: #59d8d1;
}

.wrapper label:hover:before {
  color: #59d8d1;
}
